<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,759},{107,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,83},{107,106}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,331},{174,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,47},{174,152}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{188,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,41},{188,159}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{202,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,34},{202,170}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>013.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,331},{132,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,72},{132,131}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>014.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,484},{134,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,71},{134,133}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>015.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,767},{136,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,70},{136,135}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,767},{138,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,69},{138,137}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,903},{109,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,82},{109,108}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,0},{111,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,81},{111,110}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,905},{113,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,81},{113,111}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,905},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,80},{116,113}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,171},{126,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,73},{126,122}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,629},{135,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,67},{135,129}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,629},{146,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,60},{146,137}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,484},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,54},{159,144}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>ex0.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,618},{105,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,84},{105,103}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>